<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<body>
	<div id="header" th:fragment="header"> 
	<header id="bandeja">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">GRUPO 01</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="index">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="otroUsuario">Carga de Usuarios</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="listadoUsuario">Listado de Usuarios</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	</div>
</body>
</html>