<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<body>
	
	<div id="header" th:fragment="header"> 
		<header id="bandeja" >
		
			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link active" aria-current="page" href="index">Inicio</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="otroUsuario">Carga de Usuario</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="listadoUsuarios">Listado de Usuarios</a>
			  </li>
			</ul>
		    	
		</header>
	</div>
</body>
</html>