@charset "ISO-8859-1";

body{
	background:url("/img/nuevofondo2.jpg");
	background-repeat: no-repeat;
	background-size: 500% 500%;
}

.navbar {
	background-color: rgb(49, 47, 47);
}

label{
	font-size:25px;
	color:yellow;
	display: flex;
}

/* aviso y aside */



/* aviso y aside */



/* CURSOS */



/* CURSOS */


/* footer */



/* footer */