<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Formulario</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<form th:object="${curso}" th:action="${editMode}? @{/modificarCurso} : @{/guardarCursos}"
			method="post">
		 	<input type="idden" class="form-control" th:if="${editMode}" th:field="*{idCurso}">
			<div class="mb-3">
				<label for="curso" class="form-label">Curso</label> <input type="text" class="form-control" id="curso" th:field="*{curso}" placeholder="Ingrese curso">
				<label for="docente" class="form-label">Docente</label> <input type="text" class="form-control" id="docente" th:field="*{docente}" placeholder="Ingrese docente"> 
			</div>
			<div class="mb-3">
				<label for="descripcion" class="form-label">Descripcion</label> <input type="text" class="form-control" id="curso" th:field="*{descripcion}" placeholder="Ingrese descripcion">
				<label for="duracion" class="form-label">Duracion</label> <input type="Number" class="form-control" id="duracion" th:field="*{duracion}" placeholder="Ingrese duracion"> 
			</div>
			<div class="mb-3">
				<label for="id" class="form-label">ID</label>
				<input type="number" class="form-control" id="id" th:field="*{idCurso}" placeholder="Ingrese ID">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('idCurso')}" th:errors="*{idCurso}"></div>
			</div>
			<div class="mb-3">
				<label for="fechaInicio" class="form-label">Fecha de Inicio</label>
				<input type="date" class="form-control"	id="fechanacimiento" th:field="*{fechaInicio}" placeholder="Ingrese Fecha de Inicio">
			</div>
			<div class="mb-3">
				<label for="fechaFinal" class="form-label">Fecha de Finalizacion</label>
				<input type="date" class="form-control"	id="fechaFinal" th:field="*{fechaFinal}" placeholder="Ingrese Fecha de Finalizacion">
			</div>
			<div>
				<label for="cupo" class="form-label">Cupo</label> <input type="Number" class="form-control" id="cupo" th:field="*{cupo}" placeholder="Ingrese cupo"> 
				<label for="costo" class="form-label">Costo</label> <input type="Number" class="form-control" id="costo" th:field="*{costo}" placeholder="Ingrese costo"> 
			</div>
			<label>Valoracion</label>
			<div class="star-rating">
			    <a href="#">★</a>
			    <a href="#">★</a>
			    <a href="#">★</a>
			    <a href="#">★</a>
			    <a href="#">★</a>
			</div>
			<div>
				<button type="submit" class="btn btn-primary" th:value="${editMode}? 'modificar' : 'registrar' ">Registrar</button>
			</div>
		</form>
	</div>
</body>
</html>