<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
	<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>
	
<body>
<div class="container">
	<div th:insert="/layouts/header :: header"></div>
		<form th:objec="${usuario}" th:action="@{/guardarusuario}" method="post"> 
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Email</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		    <div id="emailHelp" class="form-text">Nunca compartiremos tu contraseña.</div>
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
		    <input type="password" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Guardar Usuario</button>
		</form>
	</div>	
</body>
</html>