<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TRABAJO PRÁCTICO N°3</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

<!-- AVISO Y ASIDE -->

		

<!-- AVISO Y ASIDE -->


<!-- CURSOS -->

		
	
<!-- CURSOS -->


<!-- footer -->

	
<!-- footer -->

	</div>
	
</body>

</html>