<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Listado</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
  <link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<br>
		<table class="table table-bordered border-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">Cursos</th>
					<th scope="col">Docente</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Duracion</th>
					<th scope="col">Id</th>
					<th scope="col">Fecha de Inicio</th>
					<th scope="col">Fecha de Finalizacion</th> 
					<th scope="col">Cupo</th>
					<th scope="col">Costo</th>
					<th scope="col">Valoracion</th>
				</tr>
			</thead>
			<tbody class="table-secondary">
				<tr th:if="${listaCursos.empty}">
					<td colspan="10">No hay cursos cargados</td>
				</tr>
				<tr th:each="u:${listaCursos}">
					<td th:text="${u.curso}"></td>
					<td th:text="${u.docente}"></td>
					<td th:text="${u.descripcion}"></td>
					<td th:text="${u.duracion}"></td>
					<td th:text="${u.idCurso}"></td>
					<td th:text="${u.fechaInicio}"></td>
					<td th:text="${u.FechaFinal}"></td>
					<td th:text="${u.cupo}"></td>
					<td th:text="${u.costo}"></td>
					<td th:text="${u.valoracion}"></td>
					<td><a class="btn btn-warning" th:href="@{'/editarCursos/'+ ${u.idCurso}}">Editar</a>
					<a class="btn btn-danger" th:onclick="'javascript:confirmarEliminar(\''+${u.idCurso}+'\');'">Eliminar</a></td>  <!-- data-bs-toggle="modol" data-bs-target="#exampleModal"  @{'/eliminarCurso/'+ }-->
				</tr>
			</tbody>
		</table>

	</div>
</body>
<!-- Modal -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Eliminar Curso</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>¿Quiere eliminar el Curso?</h3>
        <br>
        <input type="text" id="identificadorDeCurso" class="form-control"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-primary" th:onclick="eliminarCurso()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
	 type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"
	 ></script>
<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"
	 type="text/javascript" src="webjars/bootstrap/5.0.0/js/bootstrap.min.js"
	 ></script>
<script type="text/javascript">
	function confirmarEliminar(id){
		$('#modalEliminar').modal('show');
		$("#identificadorDeCurso").val(id);
	}

	function eliminarCurso(){
		var id=$("#identificadorDeCurso").val();
		window.location="/eliminarCurso/"+ id;
	}fi

</script>
</html> 